<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<h1>This is Homepage...</h1>

	<h1>Hi Shokal</h1>
	<h1>Your Id is 1234 </h1>

	<br>
	<div class="container">
		<div class="nav">
			<ul>
				<li>
					<a href="/home/userlist">Userlist</a> |	
				</li>
				<li>
					<a href="/logout">logout</a>
				</li>
			</ul>
		</div>
	</div>
	
	

</body>
</html>